.navbar-color{
    background-color: #F8F8FF;
}
.bg-slide{
    background-color: #fdeae9;
    border-radius: 10px;

}
.carousel-item{
    padding: 20px 40px;
}
.price-colors{
    color: #ff418d;
}
.btn-colors{
    background-color: #ff418d;
}
/* Main Section */
.category{
    border-radius: 10px;
}
.shoes{
    width: 380px;
}
.shoe{
    border-radius: 10px;
}
.card{
    border:none;
}
.subs-color{
    background-color: #fdeae9;
}